<button (click)="fetch()">Fetch JSON DATA</button>
<section>
  <table border="1">
    <tbody>
      <tr *ngFor="let department of deptArray">
        <td>{{department.deptId}}</td>
        <td>{{department.deptName}}</td>
        <td>{{department.deptBudget}}</td>
      </tr>
    </tbody>
  </table>
</section>
<hr>
<section>
  <button (click)="getDepartments()">Fetch JSON DATA (using JSON server)</button>
  <table border="1">
    <tbody>
      <tr *ngFor="let department of deptArray">
        <td>{{department.deptId}}</td>
        <td>{{department.deptName}}</td>
        <td>{{department.deptBudget}}</td>
        <td><button (click)="deleteDepartment(department.deptId)">DELETE</button></td>
      </tr>
    </tbody>
  </table>
</section>
<section>
  <label>Enter department id to search the record</label>
  <input type="text" [(ngModel)]="dpid" (blur)="searchDepartment()"> 
  <div *ngIf="dpid!=''">
    <table border="2">
      <tr><td>ID:</td><td>{{department.deptId}}</td></tr>
      <tr><td>NAME:</td><td>{{department.deptName}}</td></tr>
      <tr><td>BUDGET:</td><td>{{department.deptBudget}}</td></tr>   
    </table>
  </div>
</section>