<button (click)="fetch()">Fetch JSON DATA</button>
<section>
  <table class="table table-sm" border="1">
    <tbody>
      <tr *ngFor="let department of deptArray">
        <td>{{department.deptId}}</td>
        <td>{{department.deptName}}</td>
        <td>{{department.deptBudget}}</td>
      </tr>
    </tbody>
  </table>
</section>
<hr>
<section>
  <button class="btn btn-primary"  (click)="getDepartments()">Fetch JSON DATA (using JSON server)</button>
  <table border="1">
    <tbody>
      <tr *ngFor="let department of deptArray">
        <td>{{department.deptId}}</td>
        <td>{{department.deptName}}</td>
        <td>{{department.deptBudget}}</td>
        <td><button (click)="deleteDepartment(department.deptId)">DELETE</button></td>
        <td><button (click)="searchDepartment(department.deptId)">EDIT</button></td>
      </tr>
    </tbody>
  </table>
</section>
<section *ngIf="department!=null">
  <h2>DEPARTMENT EDIT FORM</h2>
  <form>
    <label>ID: </label><input type=" text" [value]="department.deptId"  readonly><br><br>
    <label>NAME: </label><input type="text" [value]="department.deptName">
    <label>BUDGET: </label><input type="text" [value]="department.deptBudget">
    <input type="submit" value="UPDATE">  <input type="reset" >
  </form>
</section>
<hr>
<section>
  <label>Enter department id to search the record</label>
  <input type="text" (blur)="searchDepartment(deptNode.value)" #deptNode> 
  <div *ngIf="deptNode.value!=''">
    <table border="2">
      <tr><td>ID:</td><td>{{department.deptId}}</td></tr>
      <tr><td>NAME:</td><td>{{department.deptName}}</td></tr>
      <tr><td>BUDGET:</td><td>{{department.deptBudget}}</td></tr>   
    </table>
  </div>
</section>