<button (click)="fetch()">Fetch JSON DATA</button>
<section>
  <table border="1">
    <tbody>
      <tr *ngFor="let department of deptArray">
        <td>{{department.deptId}}</td>
        <td>{{department.deptName}}</td>
        <td>{{department.deptBudget}}</td>
      </tr>
    </tbody>
  </table>
</section>
<hr>
<section>
  <button (click)="getDepartments()">Fetch JSON DATA (using JSON server)</button>
  <table border="1">
    <tbody>
      <tr *ngFor="let department of deptArray">
        <td>{{department.deptId}}</td>
        <td>{{department.deptName}}</td>
        <td>{{department.deptBudget}}</td>
      </tr>
    </tbody>
  </table>
</section>
<section>
  <label>Enter id to search the record</label>
  <input type="text" [(ngModel)]="dpId" (input)="searchDepartment()"> 
</section>