<section>
    <h2>Employee Details</h2>
    <table border="1" style="width: 80%;">
      <thead><tr><th>ID</th><th>NAME</th><th>SALARY</th><th>JOINING DATE</th></tr></thead>
      <tbody>
        <tr *ngFor="let employee of empArray">
          <td>{{employee.empId}}</td>
          <td>{{employee.empName}}</td>
          <td>{{employee.empSalary}}</td>
          <td>{{employee.joiningDate}}</td>

          <td>  <a [routerLink]="['/salarydetails', 102 ]">show salary details</a>  </td>

        </tr>
      </tbody>
    </table>
</section>
